<label>
  Server Name
</label>

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">
  Add server
</button>

<app-server *ngFor="let server of servers"></app-server>

<p *ngIf="serverCreated; else noServer">
  {{serverCreationStatus}}
</p>

<ng-template #noServer>
  <p>
    No server was created
  </p>
</ng-template>

<hr>

<p
  [ngStyle]="{backgroundColor:getColor()}"
  [ngClass]="{five: numberOfHides >= 5}">
  {{ numberOfHides }}
</p>

<button class="btn btn-primary" (click)="hideParagraph()">
  Dispaly Details
</button>
<p [hidden]="hide"> Secret Password = Tuna</p>
